:root{
  --accent: #7253ed;
  --tertiary: #e3a83b;
}

.app{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
}

.nav{
    flex: 0 1 auto;
}

/* app.css */
.content {
    flex: 1 1 auto;
    padding-top: 64px;        /* desktop AppBar height */
  }
  
  @media (max-width:600px) {
    .content { padding-top: 56px; }   /* mobile AppBar height */
  }
  